span {
   font-family: Arial, Helvetica, sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
}

.cell {
    background: LightBlue;
    font-size: 0;
    border: 1px solid Blue;
    border-radius: 2px;
    padding: 10px;
}

.visible {
    font-size: 16px;
    background: LightGrey;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}

.flag {
    background: yellow;
}

.visible.mine {
    background: Red;
}
